html, body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* ---------------------------------------------------------------------------- 
 Sticky Footer Stuff
   This sticky footer technique (that I ended up having to apply to the __next element as well)
   is the handy work fo Ben Frain, from his book Responsive Web Design with HTML5 and CSS (Near the end of Chapter 4).
   It lets the first and main item grow to fill all the space that's not taken up by the rest. */

html {
    height: 100%
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

#__next {
    display: flex;
    flex-grow: 1;
    /* Lets it grow to fill the remaining space */
    flex-basis: auto;
    flex-direction: column;
}

main {
    display: flex;
    flex-grow: 1;
    /* Lets it grow to fill the remaining space */
    flex-basis: auto;
    flex-direction: column;
}

/* ---------------------------------------------------------------------------- */

main {
    align-items: center;
    margin-left: var(--nav-width);
}

* {
    box-sizing: border-box;
}

:root {
    --nav-width: 230px;
    /* Color Palette from Coolors.co: https://coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51 */
    --charcoal: hsla(197, 37%, 24%, 1);
    --viridian-green: hsla(180, 66%, 38%, 1);
    --flame: hsla(16, 100%, 45%, 1);
    --middle-yellow: hsla(55, 100%, 50%, 1);
    --carnation-pink: hsla(336, 84%, 80%, 1)
}

.software-developer {
    --accent-color: var(--viridian-green);
}

.visual-communicator {
    --accent-color: var(--flame);
}

.ux-designer {
    --accent-color: var(--middle-yellow);
}

.technical-writer-editor {
    --accent-color: var(--carnation-pink);
}

::selection {
    background-color: var(--charcoal);
    color: white;
}

h1 {
    font-family: 'Roboto Slab';
    text-align: center;
}

.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.left-bar {
    background-color: var(--charcoal);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--nav-width);
    padding-top: 10px;
    /* padding-left: 10px; */
}

nav ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

nav>ul>li>a:hover {
    color: black;
    background-color: var(--accent-color, white);
}

nav>ul>li>a {
    display: inline-block;
    width: 100%;
    padding: 0.5em 0em;
    padding-left: 10px;
}

header {
    padding: 0 1rem;
    background-color: var(--accent-color);
    width: 100%;
}

.intro {
    text-align: center;
}

.subtitle {
    display: block;
    font-size: 20pt;
    padding-left: 10px;
    font-family: 'Roboto Slab';
}

.subliminal-messaging {
    display: block;
    font-size: 8pt;
    line-height: 8pt;
    padding-left: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
    font-family: 'Roboto Slab';
}

code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

section#roleCards {
    display: grid;
    gap: 2em;
    grid-template-columns: 2fr 2fr;
    margin-top: 1em;
}

.roleCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    border-radius: 4%;
    padding: 1em;
    transition: background-color .2s;
}

.roleCard:active {
    background-color: var(--accent-color);
}

svg.avatar {
    width: 7em;
    fill: var(--accent-color);
}

svg.role-icon {
    width: 4em;
}

/*
* This set of keyframes was adapted from the work of Brandon Gregory. https://css-tricks.com/making-css-animations-feel-natural/
*/

@keyframes hop {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    10% {
        transform: scale(1.1, .9) translateY(0);
    }
    30% {
        transform: scale(.9, 1.1) translateY(-25px);
    }
    50% {
        transform: scale(1, 1) translateY(0);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}

.roleCard:hover svg.avatar, .roleCard:hover svg.role-icon {
    animation: hop .75s none;
    animation-timing-function: ease;
}

figure.artifact-card figcaption {
    color: black;
}

.artifact-cards {
    width: 100%;
    display: grid;
    /* gap: 3em; */
    grid-template-columns: 2fr 2fr 2fr;
    margin-top: 2em;
}

.artifact-cards img {
    width: 275px;
    height: 275px;
    object-fit: contain;
    object-position: center;
}

.artifact-description {
    display: flex;
    flex-grow: 1;
}

.artifact-description a {
    text-decoration: underline;
}

.artifact-description section {
    flex: 3;
    padding: 0 2em;
}

.artifact-story img {
    max-width: 100%;
}

.skills-n-technologies {
    background-color: var(--accent-color);
    filter: brightness(140%);
    flex: 1;
    padding: 0 2em;
}

.skills-n-technologies>div {
    position: sticky;
    top: 2em;
}

.skills-n-technologies h3 {
    margin-block-end: 0.25em;
}

.skills-n-technologies ul {
    margin-block-start: 0.25em;
    list-style-type: square;
    padding-left: 1.5em;
    line-height: 1.5em;
}

/* Responsive Embedding courtesy of EmbedResponsively.com */

/* ------------------------------------------------------ */

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ------------------------------------------------------ */

aside#dust {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    text-align: center;
}

aside#dust>span {
    font-size: 7em;
}

figure {
    margin: auto;
}

figcaption {
    color: gray;
}

figure#memoranda {
    margin: auto;
}

#memoranda img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top center;
    width: 100%;
}

#harmony {
    width: 100%
}

.zoom-worthy-image {
    cursor: zoom-in;
}